*{
    margin: 0 0 0 0;
    box-sizing: border-box;
    padding: 0 0 0 0;
}

.super{
    padding: 5vh 5vw;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10vw;
    
}

.main{
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-flow: wrap;
    border: 5px solid black;
}

.pixel{
    width: 2.5%;
    height: 2.5%;       
    padding: 0;
    margin: 0;
}

button{
    width: 200px;
    height: 40px;
    margin-top: 50px;
}

@media (min-width:1000px) {
    .super{
        flex-direction: row;
    }
}